@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,700&family=Playfair+Display:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:ital,wght@0,200;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}


/* Preloading page section */
.wrap-page{
    background-color: #f5fafc;
    color: #264653;
    min-height: 100vh;
}

.wrap-page, .cube, .loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube{
    height: 60%;
    transform-style: preserve-3d;
    animation: rotar 10s linear infinite;
}

.cube > span{
    position: absolute;
    width: 5em;
    height: 10em;
    border: 2px  solid #0d1f22;
    box-shadow: inset 0px 0px 15px 5px  rgba(67, 195, 255, .2), 0px 0px 40px
    1px rgba(67, 195, 255, .15);
    border-radius: 10px;
}
.cube > span:nth-child(1){transform: rotateY(90deg)translateZ(2em);
}
.cube > span:nth-child(2){transform: rotateY(90deg)translateZ(-2em);
}
.cube > span:nth-child(3){transform: rotateY(90deg)translateZ(-2em);
}
.cube > span:nth-child(4){transform: rotateY(90deg)translateZ(2em);
}
.cube > span:nth-child(5){transform: translateZ(-2em);
}
.cube > span:nth-child(6){transform: translateZ(2em);
}
.loading{
    height: 40%;
}
@keyframes rotar {
    0%{ transform: rotateY(0deg)rotateX(0deg);}
    50%{ transform: rotateY(360deg)rotateX(360deg);}
    100%{ transform: rotateY(0deg)rotateX(0deg);}
}

#page-preloader .loading h1 {  
    font-size: 35px;
    color: #081c15;
    text-shadow: 0  0  20px  #80b918;
}   

/* Intro section */


.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: white;
    background-color:#c7f9cc;
    border-radius: 0.5rem;
    margin-bottom:  20px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

#presentation{
    background-color: #a8d5e2;
    
}


#presentation .container  h3{
    color:transparent;
    font-family: monospace;
    
  
}

#presentation h3{
    display: block;
    width:fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s  ease forwards;
    animation-delay: 4.5s;

}

#presentation h3:nth-child(1){
    animation-delay: 4.2s;
}
#presentation h3:nth-child(2){
    animation-delay: 5.2s;
}
#presentation h3:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 6.2s;
}

#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color:#184e77;
    background-color: gold;
    border: 2px solid #184e77;
    border-radius: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 20px;
    transition: .7s ease;
    transition-property: background-color, color;
}

#presentation .card {
    background-color: #78A1BB;
    opacity: 76%;
    padding: 30px 40px;
    border: 2px solid #184e77;
    border-radius: 2rem;
   
    
}

#presentation .cta:hover{
    color:gold;
    font-weight: 700;
    background-color: #03254c;
}

#presentation h3 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    animation: text_reveal_box 2s  ease;
    animation-delay: 0.8s;
    background-color: #78A1BB;
}

#presentation h3:nth-child(1)  span{
    animation-delay: 7.8s;
}
#presentation h3:nth-child(2)  span{
    animation-delay: 8.8s;
}
#presentation h3:nth-child(3)  span{
    animation-delay: 9.8s;
}


#presentation::after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

    /* Home Header*/

    #header{
        background: #f5fafc;
        min-height: 100vh;
    }

    .header-text{
        display:flex;
        align-items:center;
    }


    .header-text p{
        color:#fff;
        font-size: 50px;
        font-family:monospace;
        font-weight: 600;
        text-align: left;
        margin-left: 30px;
    }

    .header-text h2{
        font-size: 100px;
        font-family: monospace;
        line-height: 150px;
        margin-left: 80px;
        margin-right: 50px;
        color: transparent;
        -webkit-text-stroke: 1px #021e40;
        background: url(images/lines.png);
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
    }

    @keyframes back{
        100%{
            background-position: 2000px 0;
        }
    }
    
    .header-text img{
        width: 400px;
        margin-left: 80px;
        border-radius: 20px;
        margin-bottom: 90px;
        box-shadow: 
        15px 15px 0 -4px #021e40,
        15px 15px 
    }


    .header-text .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
        gap: 10px;
        animation-delay: 0.5s;
    }

    .header-text a{
        color:#021e40;
        text-decoration: none;
        padding: 10px 20px; 
        margin-right: 20px ;
        border: 2px solid #021e40 ;
        font-size: 16px;
    }

    .header-text a:hover{
        color:#0fcfcc;
        text-decoration: none;
        padding: 10px 20px; 
        margin-right: 20px ;
        border: 2px solid #0fcfcc ;
        font-size: 16px;
    }


    .navbar {
        display: flex;
        flex-wrap: wrap;
    }

    .logo{
       
        cursor: pointer;
        margin-left: 40px;    
        margin-right: 250px;    
        font-size: 20px;
        color: #0d1f22;
        font-family: 'Monserrat',sans-serif;
    }

    .social-icons2 .fa-brands {
        color: #111261;
        width: 32px;
        font-size: 22px;
    }

    .social-icons2 .fa-brands:hover {
        color: #0fcfcc;
    }

    .social-icons2{
        margin-left: 150px;
    }

    .phrase {
        display: block;
        text-align: center;
        font-size: 55px;
        font-weight: 300;
        margin-top: 90px;
        margin-bottom: 120px;
        
    }

    .navbar-links{
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
 /* 
   nav ul{
        display: flex;
        text-align: center;
        padding-left: 400px;
        
    }  */

    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 40px 30px;
        
    }
    nav ul li a{
        color: #021e40;
        text-decoration: none;
        font-size: 12px;
        position: relative;
        text-transform: uppercase;
        
    }
    nav ul li a::after{
        content: ' ';
        width: 0;
        height: 3px;
        background: #111261;
        position: absolute;
        left:0;
        bottom: -6px;
        transition: 0.5s;
    }
    nav ul li a:hover::after{
        width: 100%;
    }
    nav ul li a:hover{
        color: whitesmoke ;
    } 


    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar{
        height: 3px;
        width: 100%;
        background-color: #021e40;
        border-radius: 10px;
    }

    .btn{
        display: block;
        margin: 50px  auto;
        width: fit-content;
        border:  1px solid #ffe600;
        padding: 14px 50px;
        border-radius: 20px;
        text-decoration: none;
        color: whitesmoke;
        transition: background  0.7s;
        position: absolute;
        margin-top: -150px;
        margin-left: 300px;
        background: #1C1948;
        cursor: pointer;
        font-size: 16px;
    } 
    .btn:hover{
        background: #ffe600;
        color: #1C1948;
        font-size: 17px ;
    }


    .separator{
        width: 0;
        height: 0;
        border-right: 100vw solid transparent;
        border-bottom: 13.9vw solid whitesmoke;
        margin-top:  -13.9vw;
    }

    .name{
      display: inline-block;
      transform: rotate(180deg);
      margin-left: 12px;
      writing-mode:vertical-lr;
      font-weight: bold;
    
    }

    .anim{
        opacity: 0;
        transform: translateY(30px);
        animation: moveup 0.5s linear forwards;
    }

    @keyframes moveup{
        100%{
            opacity: 1;
            transform: translateY(0px);

        }
    }


    
/* welcome*/

:root {
    --bg-color:#0fcfcc;
    --typewriterSpeed: 6s;
}

#welcome {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: #f5fafc;
}


.card{
    background-color: #a8d5e2;
    border: solid 4px #021e40;
    box-shadow: 
    15px 15px 0 -4px #021e40,
    15px 15px 
}

.btn-square{
    cursor: pointer;
    background: transparent;
    border: 2px solid #021e40;
    margin-top: 75px;
    padding:  10px;
    width: 90px;
    margin-left: 400px;
    font-size: 15px;
}

.btn-square:hover{
    color: #0fcfcc;
    border: 2px solid #0fcfcc;
}

#welcome h1{
    color: #03254c;
    font-size: 20px;
}
h1{
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    color: #021e40;
    width: max-content; 
}

h1::before,
h1::after {
    content: " ";
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before {
    background: #a8d5e2;
    animation: typewriter var(--typewriterSpeed) steps(28) 1s forwards infinite;

}

h1::after{
    width: 0.125em;
    background: #021e40;
    animation: 
         typewriter var(--typewriterSpeed)  steps(28) 1s forwards infinite,
         blink 750ms steps(28) infinite;
}
@keyframes typewriter{
    to{
        left: 100%;
       
    }
}

@keyframes blink{
    to{
        background: transparent;

    }
}

.home2{
    color: #D7E7EE;
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;

}

.home2 .boton{
    display: block;
    margin: 50px  auto;
    width: fit-content;
    border:  1px solid #ffe600;
    padding: 14px 50px;
    border-radius: 20px;
    text-decoration: none;
    color: whitesmoke;
    transition: background  0.7s;
    position: absolute;
    margin-top: 500px;
    margin-left: 550px;
    background: #1C1948;
    cursor: pointer;
    font-size: 16px;
}



/* ---------Services- Skills------ */

#services{
    padding: 30px 0;
    min-height: 100vh;
    background: #D7E7EE;
}
#services h1{
    color: #021e40;
    margin-left: 500px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.services-list div{
    background:#f5fafc;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #021e40;
}
.services-list div h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #021e40;
}

.services-list div p{
    color: #021e40;
    font-size: 17px;
    font-weight: bold;
}

.services-list div a{
    text-decoration: none;
    color: #021e40;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background-color: #f8e065;
    transform: translateY(-10px);
}



.a-regular fa-arrow-up-from-arc .arrowUp{
    color: #17C0FE;
}






/* -------portfolio------- */
#portfolio{
    padding: 50px 0;
    min-height: 100vh;
    background: #f5fafc;
}


.work-list{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 30px;
    margin-top: 40px;
    justify-content: center;
    
}

.sub-title{
    margin-left: 440px;
    
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: #D7E7EE;
    height: 350px;
}

.work img{
    width: 390px;
    height: 340px;
    border-radius: 20px;
    display: block;
    transition: transform  0.5s;
    box-shadow: 
    15px 15px 0 -4px #021e40,
    15px 15px 
}

.work p {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    color: #081c15;
}

.layer{
    width: 100%;
    height: 0;
    background:#f8e065;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    
}
.layer h3{
    font-size: 30px;
    margin-bottom: 20px; 
    color: #1C1948;

}
.layer a{
    margin-top: 20px;
    color: #17C0FE;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.layer p{
    color:#1C1948;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

#LaFisioTP{
    margin-top: 70px;
    margin-left: 250px;

}

#LaFisioTP iframe{
    width: 800px;
    height: 550px;
}

#LaFisioTP a{
    font-size: 24px;
    color: #17C0FE;
}
    
/* -----video Gallery ----- */
.container-gallery{
    min-height: 100vh;
    margin-top: 100px;
}

.container-gallery h1{
    margin-left: 500px;
}

.container-gallery .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container-gallery .col{
    flex-basis: 50%;
    min-width: 350px;
}

.feature-img{
    width: 300px;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 80px;
    margin-left: 70px;
}

.small-img-row{
    display: flex;
    background: #efefef;
    margin: -280px 450px;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;   
    width: 800px;
    height: 200px;
    margin-bottom: 300px;
}

.small-img-row p{
    font-size: 18px;
    color: #021e40;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 30px;
}

.small-img-row a{
    color: #184e77;
    font-size: 20px;
}




/* Learning journey section */

#portafolio{
    background: #f5fafc;
}

#portafolio .portafolio{
    min-height: 160vh;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#portafolio .portafolio-header h1{
    margin-bottom: 80px;
    margin-top: 2px;
    background-color:#050A30;
    color: #7EC8E3;
}
#portafolio .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portafolio .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 80px;

}

#portafolio .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px;
    background:#D7E7EE;
}
/* color azul morado #333C83 , #0E185F  */


#portafolio .project-info input {
    color: #17C0FE;
    background-color: #292B67;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

#portafolio  .project-info h1{
    font-size: 4rem;
    font-weight: 500;
    color: #7EC8E3;
}

#portafolio .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    color: #021e40;
}

#portafolio .project-info h3{
    color: white;
    letter-spacing: 0.2rem;

}
#portafolio .project-info p{
    color: #081c15;
    font-family: 'Roboto';
    font-size: 1.6rem;
    font-weight: 500;
}

#portafolio .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 14px;
}

#portafolio .project-img:after{
    content: " ";
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0;
}

#portafolio .project-img img{
    transition: 0.5s ease transform;
}
#portafolio .project-item:hover .project-img img{
    transform: scale(1.1);
}

#portafolio .cubes .fa-cubes{
    color:#021e40;
    font-size: 60px;
    cursor: pointer;
    margin-left: 440px;
    margin-bottom: 60px;
}

#portafolio .cubes .fa-cubes:hover{
    color: whitesmoke;
}


#portfolio .container-gallery .video{
    width: 350px;
    height: 250px;
 }


    /* keyframes */
@keyframes text_reveal{
    100%{
        color:white;

    }
}

@keyframes text_reveal_name{
    100%{
        color:gold;
        font-weight: 500px;
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
} 




/* about */
#about {
    padding: 80px 0;
    color:#184e77;  
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    min-height: 100vh;
    background: #D7E7EE;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1  img{
    border-radius: 100px;
    margin-left: 180px;
    margin-top: 185px;
    height: 130px;
    max-width:130px;
    transition:  0.5s;
    border: 6px solid whitesmoke;
  
}

.about-col-2 h1{
    color: #3bccca;
    background-color: #dce6eb;
}
.about-col-2 {
    flex-basis: 65%;
    padding: 40px;
   
}

.about-col-2 p{
    font-size: 14px;
    color: #021e40;
    background-color: #a6d8eb;
    padding: 12px;
    border-radius: 8px;
    font-family:'Courier New', Courier, monospace;
    text-align: justify;

}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-titles p{
    color: #0f8b89;
    font-size: 14px;
    font-weight: bold;

}
.tab-links{
    margin-right: 50px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: ' ';
    width: 0;
    height: 2px;
    background: #0fcfcc;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 14px 8px;
    background-color: #03254c;
    padding: 10px;
    border-radius: 4px;
    color: #efefef;
    font-family: 'Courier New', Courier, monospace;
}
.tab-contents ul li span{
    color: #0fcfcc;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
    
}

.curtain{
    width: 40%;
    height: 1px;
    background: #D7E7EE;
    border-radius: 10px;
    left: 20px;
    bottom: 0;
    margin-left: 190px;
    overflow: hidden;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 12px;
    transition: height 0.5s;
 
}


.about-col-1:hover .curtain{
    height: 1%;
}

.about-col-1:hover img{
    transform: scale(1.05);
    border: 6px solid #021e40;
}

.about-col-2 .cubes .fa-cubes{
    color:#021e40;
    font-size: 50px;
    margin-top: 30px;
    cursor: pointer;
}

.about-col-2 .cubes .fa-cubes:hover{
    color: white;
}

/* ---------technologies------- */

.technologies{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #0fcfcc, #f8e065);

}


.technologies ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.technologies ul li{
    position: relative;
    list-style: none;
    background-color: #021e40;
    padding: 8px;
}
.technologies ul li a{
    position:relative;
    font-size: 2em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);   
}
.technologies ul li a::before
{
   content: attr(data-text);
   position: absolute;
   color: var(--clr);
   width: 0;
   overflow: hidden;
   transition: 1s;
   border-right: 8px solid var(--clr);

}
.technologies ul li a:hover::before
{
    width: 100%;
    filter:drop-shadow(0 0 25px var(--clr))

} 

.technologies .cubes .fa-cubes{
    color:#021e40;
    font-size: 50px;
    margin-top: 90px;
    margin-left: 410px;
    cursor: pointer;
}
.technologies .cubes .fa-cubes:hover{
    color: white;
}

.technologies .languages-right{
    margin-left: 190px;
}

.technologies .languages-left{
    margin-left: 100px;
}

.technologies .btn-square{
    margin-right: 480px;
}

/* ------------Contact-------------- */

#contact{
    min-height: 100vh;
    background: #f5fafc;
}
.contact-left{
    flex-basis: 35%;
    margin-left: 50px;
    margin-top: 150px;
}
.contact-right{
    flex-basis: 60%;
    margin-top: 100px;
    margin-right: 15px;
}
.contact-left p{
    margin-top: 30px;   

}
.contact-left p i{
    color: #184e77;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;    
    margin-right: 15px;
    color: #0fcfcc;
    display: inline-block;
    transition: transform 0.8s;
}
.social-icons a:hover{
    color: #021e40;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #17C0FE;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #D7E7EE;
    padding: 15px;
    margin: 15px 0;
    color: #03254c;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #20204E;
    font-weight: 300;
    margin-top: 20px;
    color: #1186b1;
    font-family: monospace;
}
.contact-right .btn2{
    background-color: #292B67;
    border-radius: 20px;
    color: #0fcfcc;
}
.contact-right .btn2:hover{
    background-color: #17C0FE;
    color: #20204E;
    transition: 1s ease;

}
.contact-left p{
    color: #021e40;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

#contact .cubes .fa-cubes{
    color:#021e40;
    font-size: 50px;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 600px;
}
#contact .cubes .fa-cubes:hover{
    color: whitesmoke;
    transform: translateY(-10px);
    transform: rotateX(1.5turn);
    transition: 1s ease;
    
}

/* -------Responsive Design------------- */
@media only screen and (max-width: 900px) and (min-width: 618px) {
    #portafolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width:  100%;
        border-radius: 0;
    }
    #portafolio .all-projects .project-info{
        height: 100%;
    }
    #portafolio .all-projects .project-img{
        height: 100%;
    }
    #portafolio .project-item:nth-child(even){
        flex-direction: row-reverse;
    }

nav .fa-solid{
    
    font-size: 35px;
    margin-left: 100px;
    color:#17C0FE;
    background-color:#1C1948;
    cursor: pointer;
}

.work-list{
    display: grid;
    grid-template-columns: 400px;
    grid-gap: 10px;
    margin-top: 10px;
    justify-content: center;
    
}

} 


@media  (max-width:600px) {

    .toggle-button{
        display: flex;
    }

    .logo{  
        display: none;
    }

    .header-text img{
        margin-top: 20px;
    };

    .navbar{
        flex-direction: column;
      
    }

    .navbar-links{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: .1rem .1rem;
    }

    .phrase{
        font-size: 28px;
        font-family: 'Courier New', Courier, monospace,sans-serif;
        font-weight:200;
    }

    .navbar-links a{
        font-size: 12px;
    }

    .navbar-links.active{
        display: flex;
    }

    #welcome .card h1{ 
        font-size: 12px;
    }

    .btn-square{
        margin-left: 30px;
    }

    .container-gallery .feature-img{
        display: none;
    }

    

    .container-gallery .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .container-gallery .col{
        flex-basis: 50%;
        min-width: 150px;
    }
    
    .small-img-row{
        display: flex;
        background: #efefef;
        margin: -180px 450px;
        align-items: center;
        border-radius: 6px;
        overflow: hidden;   
        width: 370px;
        height: 100px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-top: 16px;
    }
    
    .small-img-row p{
        font-size: 12px;
        color: #021e40;
        font-weight: bold;
        padding-right: 20px;
        padding-left: 30px;
    }
    
    .small-img-row a{
        color: #184e77;
        font-size: 12px;
    }
    
    #technologies .btn-square{
        margin-left: 8px;
    }


}




@media screen and (max-width: 600px) {
    body{
        width: 412px;
    }

    #presentation .card {
        background-color: #78A1BB;
        opacity: 76%;
        padding: 30px 40px;
        border: 2px solid #184e77;
        border-radius: 2rem;
        width: 350px;
        
    }

    .header-text{
        flex-wrap: wrap;
    }

    .header-text .row{
        flex-wrap: wrap;
    }

    .header-text .row a{
        font-size: 12px;
        margin-top: 10px;
        margin-left: 120px;
    }
    

    .header-text img{
        width: 340px;
        margin-left: 25px;
    }

    .header-text p{
        font-size: 20px;
        margin-top: -90px;
   
    }

    .header-text h2{
        font-size: 40px;
        margin-top: -80px;
    }

    .separator .name {
        display: none;
    }

    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
        width: 400px;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 12px;
    }
    .tab-links{
        font-size: 12px;
        margin-right: 8px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 12px;
    }
    .btn{
        margin-left: 50px;
    }

    h1{
        font-size: 12px;
    }

    #welcome .boton{
        margin-left: 160px;
        margin-top: 570px;
    }


    .work-list{
        display: grid;
        grid-template-columns: 400px ;
        grid-gap: 30px;
        margin-top: 40px;
        justify-content: center;
    }
/* -----Services------ */

 #services p{
    color: #021e40;
 }   

 #services h1{
    margin-left: 80px;
    font-size: 28px;
 }
 
 #portfolio .container-gallery .video{
    width: 200px;
    height: 180px;
 }

 #services-mechanical p {
    font-size: 12px;
 }

 #services-mechanical h2 {
    font-size: 16px;
 }

 #services-mechanical .animation {
    width: 300px;
    height: 250px;
 }

/* ------about-------     */

#about .about-col-2 h1{
    font-size: 18px;
    margin-left: 10px;
}

#about .about-col-2 p{
    font-size: 16px;
    margin-left: 10px;

}

#about .cubes{
    margin-left: 80px;
}

.about-col-2 p{
    color: #3c788d;
}

.about-col-1 img{
    margin-top: 20px;
    width: 140px;
    height: 140px;
}

/* -------portfolio-------- */

#portafolio .cubes a{
    margin-right: 20px;
}

#portfolio h1{
    margin-left: 140px;
    font-size: 28px;
}


#LaFisioTP{
    margin-top: 70px;
    margin-left: 10px;

}

/* -------languages-------- */

#technologies .languages-left{
    margin-left: 400px;
    font-size: 2px;
}
#technologies .languages-right{
    margin-left: 8px;
    font-size: 4px;
}
#technologies h1{
      display: none;
}

.technologies ul li a{
    color: #1186b1;
    font-size: 10px;
}

#technologies .cubes .fa-cubes{
    margin-left: 40px;
}


#contact h1{
    font-size: 28px;
}

/* ------Learing Journey------- */
    
#portafolio h1{
    font-size: 28px;
}

#portafolio .cubes .fa-cubes{
    color:#021e40;
    font-size: 50px;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 170px;
    margin-top: 1px;
}

#portafolio .cubes .fa-cubes:hover{
    color: whitesmoke;
}

#contact .cubes .fa-cubes{
    color:#021e40;
    font-size: 50px;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 160px;
}
#contact .cubes .fa-cubes:hover{
    color: whitesmoke;
    transform: translateY(-10px);
    transform: rotateX(1.5turn);
    transition: 1s ease;
    
}
}

